.fr-sidemenu .fr-sidemenu__item .fr-sidemenu__link {
  /* white-space: nowrap; */
}

.fr-sidemenu .fr-sidemenu__title {
  /* width: 90%;
  margin: 0 auto;
  box-sizing: border-box; */
}

/* .fr-stepper__steps[data-fr-steps="9"] {
  --steps: 9;
  --step-width: calc(100% / 9);
}

.fr-stepper__steps[data-fr-steps="10"] {
  --steps: 10;
  --step-width: calc(100% / 10);
}

.fr-stepper__steps[data-fr-steps="11"] {
  --steps: 11;
  --step-width: calc(100% / 11);
}

.fr-stepper__steps[data-fr-steps="12"] {
  --steps: 12;
  --step-width: calc(100% / 12);
}

.fr-stepper .fr-stepper__steps[data-fr-steps="9"][data-fr-current-step="9"] + .fr-stepper__details,
.fr-stepper .fr-stepper__steps[data-fr-steps="10"][data-fr-current-step="10"] + .fr-stepper__details,
.fr-stepper .fr-stepper__steps[data-fr-steps="11"][data-fr-current-step="11"] + .fr-stepper__details,
.fr-stepper .fr-stepper__steps[data-fr-steps="12"][data-fr-current-step="12"] + .fr-stepper__details {
  display: none;
}

.fr-stepper__steps[data-fr-current-step="9"] {
  --current-step: 9;
}

.fr-stepper__steps[data-fr-current-step="10"] {
  --current-step: 10;
}

.fr-stepper__steps[data-fr-current-step="11"] {
  --current-step: 11;
}

.fr-stepper__steps[data-fr-current-step="12"] {
  --current-step: 12;
}

.fr-sidemenu {
  border-right: none !important;
  padding-right: 0 !important;
}

.fr-sidemenu__inner {
  border-right: none !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}

.fr-sidemenu__title {
  padding-left: 1.5rem !important;
}

.fr-sidemenu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fr-sidemenu__link {
  padding: 0.5rem 1rem !important;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  color: inherit !important;
  text-decoration: none;
}

.fr-sidemenu__link:hover {
  background-color: var(--background-default-grey-hover);
}

.fr-sidemenu__link--active {
  background-color: var(--background-contrast-blue-france);
  font-weight: 700;
  color: var(--text-label-blue-france) !important;
}

.fr-sidemenu__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--border-plain-blue-france);
}

.fr-table td .fr-input-group {
  margin-bottom: 0;
}

.fr-table td.fr-bg-info,
.fr-table th.fr-bg-info {
  background-color: var(--background-contrast-info);
}

.fr-table td.fr-bg-red,
.fr-table th.fr-bg-red {
  background-color: var(--red-marianne-975-75);
}

.fr-table td.fr-bg-orange,
.fr-table th.fr-bg-orange {
  background-color: var(--orange-terre-battue-975-75);
}

.fr-table td.fr-bg-yellow,
.fr-table th.fr-bg-yellow {
  background-color: var(--yellow-tournesol-975-75);
}

.fr-table td.fr-bg-green,
.fr-table th.fr-bg-green {
  background-color: var(--green-menthe-975-75);
}

.fr-table td.fr-bg-red-total {
  background-color: var(--red-marianne-main-472);
  color: var(--grey-1000-50);
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

.fr-table td.fr-bg-orange-total {
  background-color: var(--orange-terre-battue-main-645);
  color: var(--text-inverted-grey);
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

.fr-table td.fr-bg-yellow-total {
  background-color: var(--yellow-tournesol-main-731);
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

.fr-table td.fr-bg-green-total {
  background-color: var(--green-menthe-main-548);
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

.fr-table td:has(input.fr-input) {
  padding: 0 4px;
}

.fr-table td input.fr-input {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0;

  width: 100%;
  min-height: 100%;

  color: inherit;

  outline: none;

  box-shadow: none;
}

.fr-table td input.fr-input:focus {
  background-color: transparent;
  border-color: var(--border-plain-blue-france);
  outline: none;
  box-shadow: none;
}

.fr-table td input.fr-input[readonly] {
  background-color: transparent;
  color: inherit;
  cursor: default;
}

.fr-table td input.fr-input--bold {
  font-weight: bold;
} */
